@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Exo', sans-serif;
  overscroll-behavior: none;
  touch-action: none;
  touch-action: unset;
  padding: 0;
  margin: 0;
  background-color: rgb(226 232 240);
}

.smallest-view-height {
  height: 100svh;
}

.btn {
  @apply rounded-lg py-2 px-4 font-bold transition-colors duration-200;
}

.btn-primary {
  @apply text-primary;
}

.btn-primary-outlined {
  @apply border border-primary text-primary;
}

.btn-orange-outlined {
  @apply border border-orange-500 text-primary;
}

.btn-primary:hover {
  @apply hover:bg-teal-200;
}

.btn-primary-outlined:hover {
  @apply hover:bg-teal-200;
}

.btn-orange-outlined:hover {
  @apply hover:border-orange-300 hover:bg-orange-300;
}

/* landing page animation */
.animate-grow-shrink {
  animation: grow-shrink 3s ease-in-out forwards;
}

@keyframes grow-shrink {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    transform: scale(1);
    opacity: 1;
  }
  90% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Circular menu */
.animate-eight-expand {
  animation: eight 0.6s ease forwards;
  display: flex;
}

.animate-seven-expand {
  animation: seven 0.6s ease forwards;
  display: flex;
}

@keyframes eight {
  0% {
    transform: scale(0) translateX(-50%) translateY(0);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateX(-110%) translateY(20%);
  }
}

@keyframes seven {
  0% {
    transform: scale(0) translateX(0) translateY(30%);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateX(-20%) translateY(110%);
  }
}
