* {
  margin: 0px;
  padding: 0px;
}

.puck {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.puck li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.5);
  animation: puck-animation 8s linear infinite alternate;
  bottom: 0px;
  border-radius: 100%;
}

.puck li:nth-child(1) {
  left: 40%;
  width: 20vw;
  height: 20vw;
}

.ripple {
  animation: ripples 0.4s linear;
  animation-delay: 0.2s;
}

@keyframes ripples {
  10% {
    transform: skew(15deg, 15deg);
    /* transform: translateY(25px) scale(1.5); */
    color: #99f6e4;
  }

  75% {
    transform: skew(-15deg, -15deg);
    /* transform: translateY(25px) scale(1.5); */
    color: #99f6e4;
  }
}

@keyframes puck-animation {
  0% {
    transform: translateY(300vh) rotate(0deg);
  }

  100% {
    transform: translateY(-300vh) rotate(720deg);
  }
}
